.container{
    background-color: var(--first-color);

}
.navbar-custom {
    padding: 0;
    background-color: var(--first-color);
     


  }

.brand-text {
    color: white; /* Color blanco para el texto de la marca */
    font-weight: 500;
}

/* .nav-link-text {
     color: var(--third-color) !important;

} */

.nav-link.active {
    color: white !important; 
}

.hire-us-text {
    color: white; /* Color blanco para el texto de "Hire us" */
}

.a{
    text-decoration: none;
}

.navbar-toggler-icon{
    color: aliceblue;
}

button {
    border: none;
    background: transparent;
    color: rgb(var(--bs-light-rgb));
  }

  .nav-btn-close {
    position: absolute;
    top: 18px;
    right: 20px;
  }

  .nav-btn-close:hover {
    opacity: 0.7;
  }

  .navbar-toggler-icon:focus{
    border: 0;
    
  }


/* 
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    height: 64px;
    background-color: rgb(var(--bs-dark-rgb));

    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
  }

  @keyframes nav-shadown {
    to {
      background-color: rgb(var(--bs-dark-rgb));
      height: 64px;
    }
  }

  nav {
    max-width: 1200px;
    padding-inline: 20px;
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-brand {
    font-size: 16px;
    color: rgb(var(--bs-light-rgb));
    margin-bottom: 0px;
  }

  .nav-menu {
    position: fixed;
    top: 0px;
    left: -200%;
    bottom: 0px;
    width: 100%;
    background-color: rgb(var(--bs-dark-rgb));
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu.show {
    left: 0px;
  }

  .nav-list {
    margin-bottom: 0px;
    list-style: none;
    padding-block: 96px;
    padding-inline: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .nav-list li {
    padding-block: 4px;
    padding-inline: 32px;
  }

  .nav-list li:last-child a {
    opacity: 1;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(var(--bs-light-rgb));
    opacity: 0.7;
    transition: opacity 150ms ease;
  }

  a:hover {
    opacity: 1;
  }

  button {
    border: none;
    background: transparent;
    color: rgb(var(--bs-light-rgb));
  }

  .nav-btn-close {
    position: absolute;
    top: 18px;
    right: 20px;
  }

  .nav-btn-close:hover {
    opacity: 0.7;
  }

  .nav-sections.active {
    opacity: 1;
  }

  .nav-sections span {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  @media (width >= 768px) {
    header {
      height: 128px;
      background-color: transparent;
    }

    .nav-menu {
      position: static;
      width: auto;
    }

    .nav-list {
      column-gap: 16px;
      flex-direction: row;
      padding-block: 0px;
    }

    .nav-list li {
      padding-block: 0px;
      padding-inline: 4px;
    }

    button {
      display: none;
    }
  } */
