.container {
  background-color: transparent;
}

.navbar-custom {
  padding: 0;
  backdrop-filter: blur(10px);
}

.brand-text {
  color: white;
  font-weight: 500;
}

.nav-link.active {
  color: white !important;
}

.hire-us-text {
  color: white;
}

.a {
  text-decoration: none;
}

.navbar-toggler-icon {
  color: aliceblue;
}

button {
  border: none;
  background: transparent;
  color: rgb(var(--bs-light-rgb));
}

.nav-btn-close {
  position: absolute;
  top: 18px;
  right: 20px;
}

.nav-btn-close:hover {
  opacity: 0.7;
}

.navbar-toggler-icon:focus {
  border: 0;
}
