.container {
    margin-right: 0;
    overflow: hidden;
}

.imgbk {
    background-size: cover;
    padding: 0;
    scale: 1.1;
    z-index: -1;
}

.intro h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.25rem;
    opacity: 0.7;
}

.intro .btn {
    font-weight: 500;
    font-size: 1rem;
}

.title {
    text-align: left;
}

.parraf {
    text-align: left;
}

.botones {
    align-items: flex-start !important;
}

.left-col {
    padding: 40px;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .col-md-6 {
        position: relative;
        z-index: 0;
    }

    .imgbk {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .botones {
        flex-direction: column;
    }
}
