#root {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

:root {
  --first-color: #283345;
  --second-color: #3871FF;
  --third-color: #9399A2;
  background-color: var(--first-color);
}
